
<div class="row container-fluid m-0 p-0" style="height: 100vh; width: 100vw;">


    <div class="col-8" style="background: rgb(0, 0, 0)" >

    </div>

<div class="col-12 col-xl-4 col-lg-4 mx-auto text-center container_logIn" >
    <div>
        <form>
            <div>
                <h1>
                    LogIn
                </h1>
            </div>
            <div>
                <label for="CC">CC</label>
                <input type="number" id="CC" class="form-control" placeholder="CC">
            </div>
            <div>
                <label for="password">Pas</label>
                <input type="password" id="password" class="form-control" placeholder="password">
            </div>
            <div>
                <button type="submit" class="btn btn-info mt-5" ng-click="login()">Submit</button>
            </div>
        </form>

    </div>
</div>

</div>