<div class="container mx-auto col-5">
    <div class="text-center">
        <h1>Prueba 1</h1>
        <div class="mx-auto">
            <form ng-submit="entrada()">
                <input ng-model="numero.cedula" placeholder="Digitar cedular" class="form-control col-auto mt-5 mb-5" type="number" autofocus>
                <button type="submit" class="btn btn-info col-5">Entrada Manual</button>
            </form>
        </div>
    </div>
</div>



<div class="text-center list-group col-5 mx-auto">
    <button type="button" class="btn  btn-outline-primary list-group-item " ng-click="pagina1()">pagina 1</button>
    <button type="button" class="btn  btn-outline-primary list-group-item " ng-click="pagina3()">pagina 3</button>
    <button type="button" class="btn  btn-outline-primary list-group-item " ng-click="pagina4()">pagina 4</button>
</div>